@charset "utf-8";
/* 

    Last Edited By: A. Camille Hall
    Created By: A. Camille Hall
    Date: 02.17.2019
    Filename: index.css

    styling and structure  for  Highline CC Computer Science Club
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  background: #22222A;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: .88rem;
  color: #bdbdd5;
}
.content-width {
  width: 86%;
  height: 100vh;
  margin: 0 auto;
}

.pages {
  width: 100%;
  min-height: 100vh;
}
 /*----------navigation area -----------*/
 nav, footer {
    box-sizing: border-box;
    width: 100%;
    padding: .5em .5em;
}
 div#navBar {
  padding: 1rem 1rem;
  text-align: center;
 }

div#navGraphics h2 {
font-family: 'Fira Mono', monospace;
font-size: 2rem;
color: rgb( 172, 40, 35);
text-align: left;
margin: 0;
}

div#navGraphics h3 {
    font-family: 'Fira Mono', monospace;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin: 0;
    font-size: 1.2em;
}


.navIcon {
  display: none;
}

/*--------------slideshow--------------*/

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 101%;
  height: 101%;
  background: #22222A;
  opacity: 0;
  z-index: 1;
  padding-left: 1em;

}

.item-image {
  position: relative;
  padding-left: 1em;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 150px;
  left: 1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 7vw;
  color: #fff;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: absolute;
  bottom: 2%;
  right: 0;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:#6a6a77;;
}

/*------------hyperlinks------------*/
a {
    cursor: pointer;
}
div#navLinks a, footer {
    text-decoration: none;
    color: white;
    font: .8em Arial;
    text-transform: uppercase;
    padding: 1.5em;
}

/*-----------section---------*/
.intro-container{
  background: rgba(0, 0, 0, .3);
  width: inherit;
  height: 50vh;
  display: flex;
  align-items: center;
}
.intro {
  display: inline;
  align-items: center;
  text-align: left;
  font-size: 3em;
}

.typed-cursor{
  font-size: 3em;
}
.highlights {
  /* display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
  */
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  --grid-columns: 3;
  width: 100%;
  margin: 10em auto 7em;
  position: relative;
  max-width: 1600px;
  
}

.announce, .testimony {
  background: #fff;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  width: 100%;
  margin: 1em;
  box-sizing: border-box;
  overflow-y: auto;
}

.highlights p {
  padding: 0 1em;
}

.announce p:first-of-type, .testimony p:first-of-type {
  font-size: 1.5em;
  color: rgb(78, 78, 78);
  font-weight: 700;

}
.announce p:nth-of-type(2), .testimony p:nth-of-type(2) {
  color: #000;
}
.announce p:last-of-type, .testimony p:last-of-type {
  color: rgb(172, 40, 35);
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.hiTitle {
  width: 100%;
  height: 25%;
  background: rgb(172, 40, 35);
  padding-top: 1em;
}

.announce h3, .testimony h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
/*------------aside-----------------*/
/* aside {
        margin: 0 auto;
}
aside img {
    width: 100%;
    max-width: 544px;
    box-sizing: border-box;
    padding: .2em .5em;
} */

/*------------footer---------*/
footer {
    display: flex;
    /*---dont forget flex extensions*/
    justify-content: space-between;

}
div.footer {
  padding: 1rem;
  height: 10%;
  display: flex;
  position: fixed;
  bottom: 0;
  right: auto;
  width: 100%;
  align-items: center;
}
.footerItem {
  display: flex;
  justify-content: space-evenly;
}

address {
  display: none;
}

.fa {
  padding-left: .5em;
  color: white;
}
/*---------------------laptops---------------------*/
@media only screen and (max-height: 1480px) {
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: transparent;
  }
div#navLinks {
     margin-left: auto;
}
a.menuLinks:hover {
  background-color: rgba(50, 55, 61);
  background-color: rgba(50, 55, 61, .52);
  border-bottom: 1px solid white;
}


}

/*-------------screens smaller than 769px vw-------------------*/
 @media screen and (max-width: 768px) {
body {
     width: 100%;
     height: 100%;
}

nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

div#navGraphics {
    margin-right: auto;
}

div#navLinks {
    margin-left: 0;
    position: absolute;
    z-index: 1;
}

.menuLinks {
  display: none;
  padding: .7em;
}

.showMenuLinks {
  display: block;
}

div#navLinks a.navIcon {
  display: block;
}

.showDrawer {
  width: 300px;
  position: absolute;
  transform: translate(0, 0);
  transition: transform .3s ease;
  background: rgba(0, 0, 0, 0.7);
}
.highlights {
  flex-direction: column;
  align-items: center;
}

.announce, .testimony {
  margin: 1em 0;
}

}
